@model UTTUniversity.Models.tblCoSo

@{
                /**/

                ViewBag.Title = "Edit";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "CoSoDaoTao", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <h5>Chỉnh Sửa Thông Tin Cơ Sở</h5>
        </div>
        <div class="card-body table-border-style">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Mã Cơ Sở: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.MA_COSO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MA_COSO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Tên Cơ Sở: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.TEN_COSO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TEN_COSO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Số Điện Thoại: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.SO_DTHOAI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SO_DTHOAI, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Email: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>FAX: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.FAX, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FAX, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Địa Chỉ: <span class="label-required">*</span></label>
                        @Html.EditorFor(model => model.DIA_CHI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DIA_CHI, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group" style="margin-top: .5rem;">
                        <br />
                        <input type="submit" value="Ghi dữ liệu" class="btn btn-primary" />
                        @Html.ActionLink("Quay lại", "Index")
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<div>

</div>
