@model UTTUniversity.Models.tblNew

@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    var lstCate = (List<UTTUniversity.Models.tblCategory>)Session["Category"];
}





@using (Html.BeginForm("Create", "TinTuc", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body table-border-style">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="card-title">Thêm mới tin tức</h4>
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Chuyên mục: <span class="label-required">*</span></label>
                                        <select id="inputState" class="form-control" name="cboCate">
                                            <option value="-1" selected>---Chọn chuyên mục ---</option>
                                            @if (lstCate != null)
                                            {

                                                foreach (var item in lstCate)
                                                {
                                                    <option value="@item.ID">@item.CateName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Tác giả: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Ngày đăng: <span class="label-required">*</span></label>
                                        @Html.EditorFor(model => model.PostDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.PostDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Loại tin: <span class="label-required">*</span></label>

                                        <br />
                                        @Html.RadioButton("gender", "isHot")<span></span> Tin Hót<br />
                                        @Html.RadioButton("gender", "isView")<span></span> Tin Mới<br />
                                        @Html.RadioButton("gender", "isComment")<span></span> Bình Luận<br />
                                        @Html.RadioButton("gender", "isApro")<span></span> Cho phép

                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="card">


                                        <label for="input-file-now-custom-1">Ảnh To</label>
                                        <input type="file" name="filePost" idinput-file-now-custom-1" class="dropify" data-default-file="~/Areas/Admin/assets/node_modules/dropify/src/images/test-image-1.jpg" />

                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="card">


                                        <label for="input-file-now-custom-1">Ảnh Nhỏ</label>
                                        <input type="file" name="filePost2" id="input-file-now-custom-1" class="dropify" data-default-file="~/Areas/Admin/assets/node_modules/dropify/src/images/test-image-1.jpg" />

                                    </div>
                                </div>

                            </div>

                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Tiêu đề: <span class="label-required">*</span></label>
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Mô tả ngắn: <span class="label-required">*</span></label>
                                    @Html.EditorFor(model => model.ShortDescribe, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ShortDescribe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.TextAreaFor(model => model.FullDescribe, new { @id = "txtFullDescribe" })

                                </div>
                            </div>
                            <br />


                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="submit" value="Ghi dữ liệu" class="btn btn-primary btn-sm" />
                                    @Html.ActionLink("Quay lại", "Index")
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script src="~/Areas/Admin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Areas/Admin/ckfinder/config.js"></script>
<script src="~/Areas/Admin/ckeditor/ckeditor.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        CKEDITOR.replace('txtFullDescribe');

    });
</script>
<script src="~/Areas/Admin/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
<script>
    $(document).ready(function () {
        // Basic
        $('.dropify').dropify();

        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function (event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });</script>
@*<script src="~/Areas/Admin/ckfinder/ckfinder.js"></script>*@