@model IEnumerable<UTTUniversity.Models.tblNew>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    var lstCate = (List<UTTUniversity.Models.tblCategory>)Session["Category"];
}

<link rel="stylesheet" type="text/css"
      href="~/Areas/Admin/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css"
      href="~/Areas/Admin/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <div>
                    <h6 class="card-subtitle">Danh sách tin tức</h6>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><a href="@Url.Action("Create","TinTuc")">Thêm mới</a> </button>
                </div>

                <div class="table-responsive m-t-40">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Chuyên mục</th>
                                <th>Ảnh to</th>
                                <th>Tiêu đề</th>
                                <th>Ngày đăng</th>
                                <th>Mô tả ngắn</th>
                                <th>Hành Động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    @foreach (var itemCate in lstCate)
                                    {
                                        if (item.CateNewsID == itemCate.ID)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => itemCate.CateName)
                                            </td>
                                        }

                                    }

                                    <td>
                                        <img src=@item.ImageLarge class="img-radius mb-1" style="height: 50px; width:50px; border-radius:50%" />
                                    </td>
                                    @*<td></td>*@
                                    <td>
                                        @item.Title
                                    </td>


                                    <td>
                                        @item.PostDate
                                    </td>

                                    <td>

                                        @Html.DisplayFor(modelItem => item.ShortDescribe)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="~/Content/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>