@model IEnumerable<ThuVienTruongHoc.Areas.Admin.Models.tblTheLoaiSach>

@{
    ViewBag.Title = "Danh mục thể loại";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    int STT = 0;
}
<script>
    function ConfirmDelete() {
        var x = confirm("Bạn chắc chắn muốn xóa không?");
        if (x)
            return true;
        else
            return false;
    }
</script>
<div class="card-body table-border-style" >
    <div class="table-responsive">
        <a href="@Url.Action("Create","TheLoaiSach" )" class="btn btn-outline-info" @*onclick="CreateModal('@Url.Action("Create","NXB" )')*@ ">Thêm Mới</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã thể loại</th>
                    <th>Tên thể loại</th>
                    <th>Tùy Chọn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    STT++;
                    <tr>
                        <td>@STT</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MA_THELOAI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TEN_THELOAI)
                        </td>
                        
                        <td>
                            <a href="@Url.Action("Edit", "TheLoaiSach" , new {id = item.ID })" class="btn btn-outline-info" style="float:left">Sửa</a>
                            <a href="#" class="btn btn-outline-info" style="float:left" onclick="CreateModal('@Url.Action("Details", "TheLoaiSach" , new {id = item.ID })')">Chi tiết</a>
                            <a class="btn btn-outline-info" style="float:left" href="@Url.Action("Delete", "TheLoaiSach", new { id = item.ID})" onclick="return ConfirmDelete();">Xóa</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content" id="modelContent1">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function CreateModal(url) {
        $('#modelContent1').load(url);
        $('#myModal1').modal('show');
    }

</script>