@model IEnumerable<UTTUniversity.Models.tblPhieuNhapSach>

@{
    ViewBag.Title = "Quản lý nhập sách";
    Layout = "~/Areas/AdminThuVien/Views/Shared/_Layout.cshtml";
}
@{
    int STT = 0;
    var nhanvien = (List<UTTUniversity.Models.tblNhanVien>)ViewBag.nhanvien;
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <h4 style="color:black">Danh mục phiếu nhập sách</h4>
            </div>
            <div class="col-lg-4">
                <a href="@Url.Action("Create", "NhapSach")" style="float:left" class="btn btn-sm btn-primary btn-header">Thêm mới</a>
            </div>
        </div>

        <div class="table-responsive m-t-40">
            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã phiếu nhập</th>
                        <th>Tên nhân viên</th>
                        <th>Nhà xuất bản</th>
                        <th>Ngày nhập</th>
                        <th>Tùy chọn</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        STT = STT + 1;
                        <tr>
                            <td>
                                @STT
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MA_PHIEU)
                            </td>
                            <td>
                                @foreach (var itemNv in nhanvien)
                                {
                                    if (item.MA_NHANVIEN == itemNv.MA_NHANVIEN)
                                    {
                                        @Html.DisplayFor(modelItem => itemNv.HO_TEN)
                                    }
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MA_NXB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NGAY_NHAP)
                            </td>

                           
                            <td>

                                <a class="btn btn-outline-info" style="float:right" href="@Url.Action("Edit", "NhapSach", new { id = item.MA_PHIEU })">Sửa</a>

                                <a class="btn btn-outline-info" style="float:right" href="@Url.Action("ChiTietPhieuNhap", "NhapSach",new { id = item.MA_PHIEU })" >Chi tiết</a>

                                <a class="btn btn-outline-info" style="float:right" href="@Url.Action("Delete", "NhapSach",new { id = item.MA_PHIEU })">Xóa</a>
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.RoleID })*@

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        $('#myTable').DataTable();
        var table = $('#example').DataTable({
            "columnDefs": [{
                "visible": false,
                "targets": 2
            }],
            "order": [
                [2, 'asc']
            ],
            "displayLength": 25,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
        // Order by the grouping
        $('#example tbody').on('click', 'tr.group', function () {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                table.order([2, 'desc']).draw();
            } else {
                table.order([2, 'asc']).draw();
            }
        });
        // responsive table
        $('#config-table').DataTable({
            responsive: true
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
    });

</script>
