@model UTTUniversity.Models.tblTacGia

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color:red">Thông tin chi tiết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Mã tác giả: <span class="label-required"></span></label>
                    @Model.MA_TACGIA
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Tên tác giả: <span class="label-required"></span></label>
                    @Model.TEN_TACGIA
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Ngày sinh<span class="label-required"></span></label>
                    @Model.NGAY_SINH
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Giới tính: <span class="label-required"></span></label>
                    @Model.GIOI_TINH
                </div>
            </div>
            <div class="col-lg-6">
                <label>Mô tả: <span class="label-required"></span></label>
                @Model.MO_TA
            </div>

        </div>
    </div>
</div>
