@model UTTUniversity.Models.tblTacGia

@{
                /**/

                ViewBag.Title = "Chỉnh sửa thông tin tác giả";
                Layout = "~/Areas/AdminThuVien/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/assets/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="modal-content">
        <div class="modal-header" style="background-color: dodgerblue">
            <h5 class="modal-title" id="exampleModalLongTitle">Danh Mục Tác Giả</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        @using (Html.BeginForm("Edit", "TacGia", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body table-border-style">
                            <div class="row">
                                <div class="col-lg-6">
                                </div>
                            </div>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="row p-t-0">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="input-file-now-custom-1">Ảnh</label>
                                                <input type="file" name="filePost" class="dropify" value="@Model.IMAGE" src="@Model.IMAGE" data-default-file="@Model.IMAGE" data-allowed-file-extensions='["png", "jpg"]' />
                                                @Html.HiddenFor(x => x.IMAGE)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Mã tác giả: <span class="label-required">*</span></label>
                                                @Html.EditorFor(model => model.MA_TACGIA, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                                @Html.ValidationMessageFor(model => model.MA_TACGIA, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Tên tác giả: <span class="label-required">*</span></label>
                                                @Html.EditorFor(model => model.TEN_TACGIA, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TEN_TACGIA, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Ngày sinh: <span class="label-required">*</span></label>
                                                @Html.EditorFor(model => model.NGAYSINH, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                                @Html.ValidationMessageFor(model => model.NGAYSINH, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label>Mô tả: <span class="label-required">*</span></label>
                                                <br />
                                                @Html.TextAreaFor(model => model.MO_TA, new { cols = 76, rows = 5 })
                                                @Html.ValidationMessageFor(model => model.MO_TA, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Giới tính: <span class="label-required">*</span></label>
                                                @if (Model.GIOI_TINH == 1)
                                                {
                                                    <div class="radio-list" style="padding-left:10px;">
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio1" name="customRadio" checked="checked" class="custom-control-input" value="Nam">
                                                            <label class="custom-control-label" for="customRadio1">Nam</label>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="Nu">
                                                            <label class="custom-control-label" for="customRadio2">Nữ</label>
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="radio-list" style="padding-left:10px;">
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="Nam">
                                                            <label class="custom-control-label" for="customRadio1">Nam</label>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio2" name="customRadio" checked="checked" class="custom-control-input" value="Nu">
                                                            <label class="custom-control-label" for="customRadio2">Nữ</label>
                                                        </label>
                                                    </div>
                                                }




                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="submit" value="Ghi dữ liệu" class="btn btn-primary btn-sm" />
                                    @Html.ActionLink("Quay lại", "Index")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</body>
</html>
<script src="~/Areas/Admin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Areas/Admin/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
<script>
    $(document).ready(function () {
        // Basic
        $('.dropify').dropify();

        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function (event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>
